@font-face {
  font-family: "Halvar-Md";
  src: url("../assets/fonts/HalvarBreit-Md.eot");
  src: local("Halvar Breitschrift Medium"), local("HalvarBreit-Md"), url("../assets/fonts/HalvarBreit-Md.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HalvarBreit-Md.woff2") format("woff2"), url("../assets/fonts/HalvarBreit-Md.woff") format("woff"), url("../assets/fonts/HalvarBreit-Md.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica-Md";
  src: url("../assets/fonts/HelveticaNeueCyr-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica-Lt";
  src: url("../assets/fonts/HelveticaNeueCyr-Light.ttf");
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Helvetica-Md;
  font-size: 18.34px;
  line-height: 22.93px;
  letter-spacing: -0.03em;
  color: white;
}

h1 {
  font-family: Halvar-Md;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 55px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 550;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
}

h3 {
  font-family: Halvar-Md;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.06em;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
}

button {
  border: none;
  cursor: pointer;
  background: linear-gradient(94.02deg, #FF5050 -5.58%, #FF50ED 214.54%);
  border-radius: 7.1547px;
  width: 100%;
  font-size: 18px;
  font-weight: 550;
  line-height: 40px;
  letter-spacing: -0.03em;
}

.fit {
  height: 100%;
  width: 100%;
}

.main-wrapper {
  overflow: hidden;
  position: relative;
}
.main-wrapper section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  overflow-y: auto;
}
.main-wrapper section.hidden {
  transform: translateX(-100%);
  opacity: 0.5;
}
.main-wrapper section.show {
  transform: translateX(0);
  opacity: 1;
}

.screen-1 {
  background: url("../assets/images/curly-line-bot.svg") bottom no-repeat, black url("../assets/images/bg-1-mobile.png") right no-repeat;
  background-size: 100%, cover;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  padding: 16px 39px;
  padding-top: 51px;
}
.screen-1 .content {
  padding: 0 12px;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}
.screen-1 .logo {
  align-self: center;
  width: 100%;
  max-width: 900px;
}
.screen-1 .logo img {
  width: 100%;
}
.screen-1 h2 {
  margin-left: 8px;
}
.screen-1 .choice-liste {
  display: flex;
  flex-direction: column;
  position: relative;
}
.screen-1 .choice-liste .border-wrapper {
  position: absolute;
  height: calc(100% + 24px);
  width: 36px;
  left: -12px;
  top: -12px;
  border-radius: 200px;
  border: 1px solid white;
  pointer-events: none;
}
.screen-1 .input-radio {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 28px;
  width: fit-content;
}
.screen-1 .input-radio input {
  display: none;
}
.screen-1 .input-radio input:checked ~ .checkmark {
  background-color: #E6FF4F;
  border: none;
}
.screen-1 .input-radio:nth-of-type(2) input:checked ~ .checkmark {
  background-color: #FF8E4F;
}
.screen-1 .input-radio:nth-of-type(3) input:checked ~ .checkmark {
  background-color: #FF5050;
}
.screen-1 .input-radio:nth-of-type(4) input:checked ~ .checkmark {
  background-color: #FF5050;
}
.screen-1 .input-radio:nth-of-type(5) input:checked ~ .checkmark {
  background-color: #FF5084;
}
.screen-1 .input-radio:nth-of-type(6) input:checked ~ .checkmark {
  background-color: #FF50B9;
}
.screen-1 .input-radio:nth-of-type(7) {
  margin-bottom: 0;
}
.screen-1 .input-radio:nth-of-type(7) input:checked ~ .checkmark {
  background-color: #FF50ED;
}
.screen-1 .input-radio .checkmark {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 36px;
}
.screen-1 .learn-more-btn {
  padding: 2px 0;
  max-width: 176.55px;
  line-height: 40px;
  margin-top: 39px;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: -0.03em;
  text-align: center;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  align-self: center;
}
@media only screen and (min-width: 600px) {
  .screen-1 h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .screen-1 .input-radio {
    font-size: 26px;
    line-height: 36px;
  }
  .screen-1 .input-radio .checkmark {
    width: 16px;
    height: 16px;
    border: 2px solid white;
  }
  .screen-1 .learn-more-btn {
    padding: 4px 0;
    max-width: 264px;
    font-size: 32px;
    line-height: 52px;
  }
}

.screen-2 {
  background: black url("../assets/images/bg-3-mobile.png") no-repeat;
  background-size: cover;
  transform: translateX(100%);
  opacity: 0;
  padding: 0 24px 1vh 24px;
  padding-top: 11.6vh;
}
.screen-2 h2 {
  margin-bottom: 66px;
}
.screen-2 .content {
  background: linear-gradient(157.92deg, #000000 -39.99%, rgba(0, 0, 0, 0.85) 112.36%);
  background-blend-mode: multiply;
  border: 0.658768px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 13.1754px;
  position: relative;
  top: 14.96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 22px 20px 33px;
  width: 100%;
}
.screen-2 input {
  border: none;
  border-radius: 6.29218px;
  width: 100%;
  font-size: 11px;
  font-weight: 550;
  line-height: 36px;
  letter-spacing: -0.03em;
  padding: 0 13.18px;
  color: #000000;
  outline-color: #FF5050;
}
.screen-2 input:first-of-type {
  margin-bottom: 15px;
}
.screen-2 input::placeholder {
  color: #A9A9A9;
}
.screen-2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screen-2 button {
  margin-top: 21vh;
  max-width: 176px;
}
@media only screen and (min-width: 600px) {
  .screen-2 h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .screen-2 .content {
    max-width: 500px;
  }
  .screen-2 input {
    font-size: 22px;
    line-height: 36px;
    padding: 8px 13.18px;
  }
  .screen-2 button {
    padding: 4px 0;
    max-width: 264px;
    font-size: 32px;
    line-height: 52px;
  }
}

.screen-3 {
  background: url("../assets/images/curly-line-3.svg") bottom no-repeat, black url("../assets/images/bg-1-mobile.png") right no-repeat;
  background-size: cover, cover;
  padding: 21px;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  padding-bottom: 8.97vh;
}
.screen-3 .header {
  height: 238px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.screen-3 .socials {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15%;
}
.screen-3 .socials .link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
@media only screen and (min-width: 600px) {
  .screen-3 .socials .link {
    width: 60px;
    height: 60px;
  }
  .screen-3 .socials .link svg {
    width: 30px;
    height: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
