@font-face {
    font-family: "Halvar-Md";
    src: url("../assets/fonts/HalvarBreit-Md.eot");
    src: local("Halvar Breitschrift Medium"), local("HalvarBreit-Md"),
        url("../assets/fonts/HalvarBreit-Md.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/HalvarBreit-Md.woff2") format("woff2"),
        url("../assets/fonts/HalvarBreit-Md.woff") format("woff"),
        url("../assets/fonts/HalvarBreit-Md.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica-Md";
    src: url("../assets/fonts/HelveticaNeueCyr-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Helvetica-Lt";
    src: url("../assets/fonts/HelveticaNeueCyr-Light.ttf");
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}


*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Helvetica-Md;
    font-size: 18.34px;
    line-height: 22.93px;
    letter-spacing: -0.03em;
    color: white;
}

h1 {
    font-family: Halvar-Md;
    font-size: 65px;
    line-height: 55px;
    letter-spacing: -0.06em;
    text-align: left;
    text-align: center;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    background: linear-gradient(94.02deg, #FF5050 -5.58%, #FF50ED 214.54%);
    border-radius: 7.1547px;
    width: 100%;
    font-size: 18px;
    font-weight: 550;
    line-height: 40px;
    letter-spacing: -0.03em;
}

// GENERAL CLASSES
.fit {
    height: 100%;
    width: 100%;
}



// MIXINS
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// ********************
.main-wrapper {
    overflow: hidden;
    position: relative;

    section {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 1s ease-in-out;
        opacity: 1;

        &.hidden {
            transform: translateX(-100%);
            opacity: 0.5;
        }

        &.show {
            transform: translateX(0);
            opacity: 1;
        }
    }

}

.screen-1 {
    @include flex-center();
    background: url("../assets/images/curly-line.svg") left no-repeat,
        url("../assets/images/bg-1.png") right no-repeat;
    background-size: cover, cover, cover;
    transform: translateX(0);

    .content {
        @include flex-center();
        flex-direction: column;
        position: absolute;
        bottom: 11%;
    }

    .get-btn {

        padding: 2.99628px 8.98884px;
        max-width: 171px;
        line-height: 40px;
        margin-top: 65px;
    }

    .socials {
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .link {
            @include flex-center();
            background-color: black;
            border: 2px solid white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    }



    // display: none;
}

.screen-2 {
    // display: none;
    background: black linear-gradient(129.14deg, #E6FF4F -9.46%, #FF5050 22.02%, rgba(255, 80, 237, 0) 96.27%);
    padding: 21px;
    transform: translateX(100%);
    opacity: 0;

    .content {
        position: relative;
        top: 6.7%;
        background: linear-gradient(157.92deg, #000000 -39.99%, rgba(0, 0, 0, 0.85) 112.36%);
        background-blend-mode: multiply;
        opacity: 0.75;
        border-radius: 13.2019px;
        padding: 33px 0 41px;
        max-width: 278px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        // display: none;
    }

    .choice-liste {
        display: flex;
        flex-direction: column;
        gap: 28px;
        position: relative;

        .border-wrapper {
            position: absolute;
            height: calc(100% + 24px);
            width: 36px;
            left: -12px;
            top: -12px;
            border-radius: 200px;
            border: 1px solid white;
            pointer-events: none;
        }
    }

    .input-radio {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 44px;

        input {
            // visibility: hidden;
            display: none;

            &:checked {
                &~.checkmark {
                    background-color: #E6FF4F;
                    border: none;

                }

            }


        }

        &:nth-child(2) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FFD84F;

                    }

                }

            }
        }

        &:nth-child(3) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FFA14F;

                    }

                }

            }
        }

        &:nth-child(4) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF5050;

                    }

                }

            }
        }

        &:nth-child(5) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF508F;

                    }

                }

            }
        }

        &:nth-child(6) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF5050;

                    }

                }

            }
        }

        .checkmark {
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px solid white;
        }


    }

    .select-btn {
        max-width: 171px;
        font-size: 18px;
        // font-weight: 550;
        line-height: 40px;
        letter-spacing: -0.03em;
        text-align: center;
        margin-top: 42.88px;
    }

    .message-options {
        position: relative;
        top: 23%;
        background: linear-gradient(157.92deg, #000000 -39.99%, rgba(0, 0, 0, 0.85) 112.36%);
        background-blend-mode: multiply;
        opacity: 0.75;
        border-radius: 13.2019px;
        padding: 39px 19px 66px;
        max-width: 278px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            display: flex;
            align-items: center;
            padding: 4px 0;
            padding-left: 35px;

            svg {
                margin-right: 10px;
            }

            &.teleg-btn {
                margin-top: 16px;
                background: linear-gradient(94.09deg, #30B8EA -5.57%, #027A95 126.9%),
                    #FFFFFF;
            }
        }

        // &.show{
        // }
    }
}

.screen-3 {
    background: black url("../assets/images/bg-3-mobile.png") no-repeat;
    background-size: cover;
    transform: translateX(100%);
    opacity: 0;

    .content {
        background: linear-gradient(157.92deg, #000000 -39.99%, rgba(0, 0, 0, 0.85) 112.36%);
        background-blend-mode: multiply;
        border: 0.658768px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 13.1754px;
        position: relative;
        top: 14.96%;
        max-width: 278px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 12.84px 20px 37.55px;
    }

    input {
        border: none;
        border-radius: 6.29218px;
        width: 100%;
        font-size: 11px;
        font-weight: 550;
        line-height: 36px;
        letter-spacing: -0.03em;
        padding: 0 13.18px;
        color: #000000;
        outline-color: #FF5050;

        &::placeholder {
            color: #A9A9A9;
        }
    }

    textarea {
        resize: none;
        width: 100%;
        height: calc(var(--vh, 1vh) * 41);
        margin-top: 29px;
        padding: 0 13.18px;
        font-size: 11px;
        font-weight: 550;
        line-height: 36px;
        letter-spacing: -0.03em;
        padding: 0 13.18px;
        color: #000000;
        outline-color: #FF5050;

        &::placeholder {
            color: #A9A9A9;
        }

    }

    button {
        margin-top: 35.91px;
        max-width: 176px;
    }
}