@font-face {
    font-family: "Halvar-Md";
    src: url("../assets/fonts/HalvarBreit-Md.eot");
    src: local("Halvar Breitschrift Medium"), local("HalvarBreit-Md"), url("../assets/fonts/HalvarBreit-Md.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HalvarBreit-Md.woff2") format("woff2"), url("../assets/fonts/HalvarBreit-Md.woff") format("woff"), url("../assets/fonts/HalvarBreit-Md.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica-Md";
    src: url("../assets/fonts/HelveticaNeueCyr-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Helvetica-Lt";
    src: url("../assets/fonts/HelveticaNeueCyr-Light.ttf");
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    // height: calc(var(--vh, 1vh) * 100);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Helvetica-Md;
    font-size: 18.34px;
    line-height: 22.93px;
    letter-spacing: -0.03em;
    color: white;
}

h1 {
    font-family: Halvar-Md;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 55px;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: 550;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: left;
}

h3 {
    font-family: Halvar-Md;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.06em;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
}

button {
    border: none;
    cursor: pointer;
    background: linear-gradient(94.02deg, #FF5050 -5.58%, #FF50ED 214.54%);
    border-radius: 7.1547px;
    width: 100%;
    font-size: 18px;
    font-weight: 550;
    line-height: 40px;
    letter-spacing: -0.03em;
}

// GENERAL CLASSES
.fit {
    height: 100%;
    width: 100%;
}

// MIXINS
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// ********************
.main-wrapper {
    overflow: hidden;
    position: relative;

    section {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all .5s ease-in-out;
        opacity: 1;
        overflow-y: auto;

        &.hidden {
            transform: translateX(-100%);
            opacity: 0.5;
        }

        &.show {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.screen-1 {
    background: url("../assets/images/curly-line-bot.svg") bottom no-repeat, black url("../assets/images/bg-1-mobile.png") right no-repeat;
    background-size: 100%, cover;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    padding: 16px 39px;
    padding-top: 51px;

    .content {
        padding: 0 12px;
        margin-top: 38px;
        display: flex;
        flex-direction: column;
    }

    .logo {
        align-self: center;
        width: 100%;
        max-width: 900px;

        img {
            width: 100%;
        }
    }

    h2 {
        margin-left: 8px;
    }

    .choice-liste {
        display: flex;
        flex-direction: column;
        // gap: 28px;
        position: relative;

        .border-wrapper {
            position: absolute;
            height: calc(100% + 24px);
            width: 36px;
            left: -12px;
            top: -12px;
            border-radius: 200px;
            border: 1px solid white;
            pointer-events: none;
        }
    }

    .input-radio {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-family: HelveticaNeueCyr;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: -0.03em;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 28px;
        width: fit-content;

        input {
            // visibility: hidden;
            display: none;

            &:checked {
                &~.checkmark {
                    background-color: #E6FF4F;
                    border: none;
                }

                // &~span {
                //     color: #E6FF4F;
                // }
            }
        }

        &:nth-of-type(2) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF8E4F;
                    }

                    // &~span {
                    //     color: #FF8E4F;
                    // }
                }
            }
        }

        &:nth-of-type(3) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF5050;
                    }

                    // &~span {
                    //     color: #FF5050;
                    // }
                }
            }
        }

        &:nth-of-type(4) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF5050;
                    }

                    // &~span {
                    //     color: #FF5050;
                    // }
                }
            }
        }

        &:nth-of-type(5) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF5084;
                    }

                    // &~span {
                    //     color: #FF5084;
                    // }
                }
            }
        }

        &:nth-of-type(6) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF50B9;
                    }

                    // &~span {
                    //     color: #FF50B9;
                    // }
                }
            }
        }

        &:nth-of-type(7) {
            margin-bottom: 0;

            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF50ED;
                    }

                    // &~span {
                    //     color: #FF50ED;
                    // }
                }
            }
        }

        .checkmark {
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px solid white;
            margin-right: 36px;
        }
    }

    .learn-more-btn {
        padding: 2px 0;
        max-width: 176.55px;
        line-height: 40px;
        margin-top: 39px;
        font-size: 16px;
        line-height: 36px;
        letter-spacing: -0.03em;
        text-align: center;
        background: #000000;
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        align-self: center;
    }

    // display: none;
    @media only screen and (min-width:600px) {
        h2 {
            font-size: 36px;
            line-height: 42px;
        }

        .input-radio {
            font-size: 26px;
            line-height: 36px;

            .checkmark {
                width: 16px;
                height: 16px;
                border: 2px solid white;
            }
        }

        .learn-more-btn {
            padding: 4px 0;
            max-width: 264px;
            font-size: 32px;
            line-height: 52px;
        }
    }
}

.screen-2 {
    background: black url("../assets/images/bg-3-mobile.png") no-repeat;
    background-size: cover;
    transform: translateX(100%);
    opacity: 0;
    padding: 0 24px 1vh 24px;
    padding-top: 11.6vh;

    // padding-top: calc(var(--vh, 1vh) * 11.6);
    h2 {
        margin-bottom: 66px;
    }

    .content {
        background: linear-gradient(157.92deg, #000000 -39.99%, rgba(0, 0, 0, 0.85) 112.36%);
        background-blend-mode: multiply;
        border: 0.658768px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 13.1754px;
        position: relative;
        top: 14.96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 22px 20px 33px;
        width: 100%;
    }

    input {
        border: none;
        border-radius: 6.29218px;
        width: 100%;
        font-size: 11px;
        font-weight: 550;
        line-height: 36px;
        letter-spacing: -0.03em;
        padding: 0 13.18px;
        color: #000000;
        outline-color: #FF5050;

        &:first-of-type {
            margin-bottom: 15px;
        }

        &::placeholder {
            color: #A9A9A9;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        margin-top: 21vh;
        // margin-top: calc(var(--vh, 1vh) * 21);
        max-width: 176px;
    }

    @media only screen and (min-width:600px) {
        h2 {
            font-size: 36px;
            line-height: 42px;
        }

        .content {
            max-width: 500px;
        }

        input {
            font-size: 22px;
            line-height: 36px;
            padding: 8px 13.18px;
        }

        button {
            padding: 4px 0;
            max-width: 264px;
            font-size: 32px;
            line-height: 52px;
        }
    }
}

.screen-3 {
    background: url("../assets/images/curly-line-3.svg") bottom no-repeat, black url("../assets/images/bg-1-mobile.png") right no-repeat;
    background-size: cover, cover;
    padding: 21px;
    // transform: translateX(100%);
    // opacity: 0;
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    // padding-top: calc(var(--vh, 1vh) * 20);
    padding-bottom: 13.97vh;

    // padding-bottom: calc(var(--vh, 1vh) * 8.97);
    .header {
        // height: 238px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .download-btn {
        font-weight: 500px;
        font-family: Helvetica,
            Arial,
            sans-serif;
        font-size: 32px;
        line-height: 53px;
        color: #ffffff;
        letter-spacing: -0.03em;
        padding: 13px 0;
        border: none;
        background: linear-gradient(93.82deg, #ff5050 -5.6%, #ff50ed 139.41%);
        width: 100%;
        max-width: 467px;
        display: block;
        margin: 0 auto;
        border-radius: 9px;
        // margin-top: 101px;
        text-align: center;
        text-decoration: none;
        margin-top: 32px;
        margin-bottom: 64px;
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
            @include flex-center();
            background-color: black;
            border: 2px solid white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin: 0 5px;
        }
    }

    .footer {
        margin-top: auto;
        // margin-bottom: 15%;
    }

    @media only screen and (min-width:600px) {
        .socials {
            .link {
                width: 60px;
                height: 60px;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}