// @font-face {
//     font-family: "Halvar-Rg";
//     src: url("../assets/fonts/HalvarBreit-Rg.eot");
//     src: local("Halvar Breitschrift Regular"), local("HalvarBreit-Rg"),
//         url("../assets/fonts/HalvarBreit-Rg.eot?#iefix") format("embedded-opentype"),
//         url("../assets/fonts/HalvarBreit-Rg.woff2") format("woff2"),
//         url("../assets/fonts/HalvarBreit-Rg.woff") format("woff"),
//         url("../assets/fonts/HalvarBreit-Rg.ttf") format("truetype");
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: "Halvar-Md";
    src: url("../assets/fonts/HalvarBreit-Md.eot");
    src: local("Halvar Breitschrift Medium"), local("HalvarBreit-Md"),
        url("../assets/fonts/HalvarBreit-Md.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/HalvarBreit-Md.woff2") format("woff2"),
        url("../assets/fonts/HalvarBreit-Md.woff") format("woff"),
        url("../assets/fonts/HalvarBreit-Md.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: "Halvar-Bd";
//     src: url("../assets/fonts/HalvarBreit-Bd.eot");
//     src: local("Halvar Breitschrift Bold"), local("HalvarBreit-Bd"),
//         url("../assets/fonts/HalvarBreit-Bd.eot?#iefix") format("embedded-opentype"),
//         url("../assets/fonts/HalvarBreit-Bd.woff2") format("woff2"),
//         url("../assets/fonts/HalvarBreit-Bd.woff") format("woff"),
//         url("../assets/fonts/HalvarBreit-Bd.ttf") format("truetype");
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Halvar-XBd";
//     src: url("../assets/fonts/HalvarBreit-XBd.eot");
//     src: local("Halvar Breitschrift ExtraBold"), local("HalvarBreit-XBd"),
//         url("../assets/fonts/HalvarBreit-XBd.eot?#iefix") format("embedded-opentype"),
//         url("../assets/fonts/HalvarBreit-XBd.woff2") format("woff2"),
//         url("../assets/fonts/HalvarBreit-XBd.woff") format("woff"),
//         url("../assets/fonts/HalvarBreit-XBd.ttf") format("truetype");
//     font-weight: 800;
//     font-style: normal;
//     font-display: swap;
// }
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}


*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Halvar-Rg;
    font-size: 18.34px;
    line-height: 22.93px;
    letter-spacing: -0.03em;
    color: white;
}

h1 {
    font-family: Halvar-Md;
    font-size: 65px;
    line-height: 55px;
    letter-spacing: -0.06em;
    text-align: left;
    text-align: center;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

// GENERAL CLASSES
.fit {
    height: 100%;
    width: 100%;
}



// MIXINS
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// ********************
.main-wrapper {
    overflow: hidden;
    position: relative;

    section {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

    }
}

.screen-1 {
    @include flex-center();
    background: url("../assets/images/curly-line.svg") left no-repeat,
        url("../assets/images/bg-1.png") right no-repeat;
    background-size: cover, cover, cover;

    .content {
        @include flex-center();
        flex-direction: column;
        position: absolute;
        bottom: 11%;
    }

    .get-btn {

        padding: 2.99628px 8.98884px;
        background: linear-gradient(94.02deg, #FF5050 -5.58%, #FF50ED 214.54%);
        border-radius: 7.1547px;
        width: 100%;
        max-width: 171px;
        line-height: 40px;
        margin-top: 65px;
    }

    .socials {
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .link {
            @include flex-center();
            background-color: black;
            border: 2px solid white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    }

    display: none;
}

.screen-2 {
    // display: none;
    background: black linear-gradient(129.14deg, #E6FF4F -9.46%, #FF5050 22.02%, rgba(255, 80, 237, 0) 96.27%);
    padding: 21px;

    .content {
        position: relative;
        top: 6.7%;
        background: linear-gradient(157.92deg, #000000 -39.99%, rgba(0, 0, 0, 0.85) 112.36%);
        background-blend-mode: multiply;
        opacity: 0.75;
        border-radius: 13.2019px;
        padding: 33px 0 29px 41px;

    }

    .choice-liste {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .input-radio {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 44px;

        input {
            // visibility: hidden;
            display: none;

            &:checked {
                &~.checkmark {
                    background-color: #E6FF4F;
                    border: none;

                }

            }


        }

        &:nth-child(2) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FFD84F;

                    }

                }

            }
        }

        &:nth-child(3) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FFA14F;

                    }

                }

            }
        }

        &:nth-child(4) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF5050;

                    }

                }

            }
        }

        &:nth-child(5) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF508F;

                    }

                }

            }
        }

        &:nth-child(6) {
            input {
                &:checked {
                    &~.checkmark {
                        background-color: #FF5050;

                    }

                }

            }
        }

        .checkmark {
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px solid white;
        }


    }
}

.screen-3 {
    display: none;

    .content {}
}